<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title|async }}!
  </h1>
</div>
<div>
  <a [routerLink]="['data']">Data</a>
</div>
<router-outlet></router-outlet>
